@keyframes vertical-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes vertical-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-vertical-marquee-up {
  animation: vertical-up 40s linear infinite;
}

.animate-vertical-marquee-down {
  animation: vertical-down 40s linear infinite;
}
